<nav class="navbar navbar-expand-lg bg-main px-5 py-3 fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <i class="fa-solid fa-heart-pulse fa-beat fa-2xl pe-3 text-white"></i>
        <span class="fw-bold text-white fa-2xl position-relative"><span>Doc</span><span class="text-info tOfDoctor">T</span><span class="ms-4">or</span><span class="text-info">s</span></span>
            
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item pe-3">
            <a class="nav-link text-white" routerLink="/register" routerLinkActive="active-link">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/login" routerLinkActive="active-link">Login</a>
          </li>
        
        </ul>
        
      </div>
    </div>
</nav>
