<section *ngIf="allPatients" class="my-5">
    <p-table [value]="allPatients" [tableStyle]="{'min-width': '60rem'}">
        <ng-template pTemplate="header">
            <tr class="text-center">
                <th>Image</th>
                <th>Patient Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Gender</th>
                <th>Date Of Birth</th>
                
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-patient>
            <tr class="text-center">
                <td class="text-center"><img [src]="patient.photoPath?'https://localhost:7198/images/'+patient.photoPath:'./assets/profileUndefined.webp'" class="w-100 rounded-5" height="100" [alt]="patient.patientName"></td>
                <td>{{patient.fullName}}</td>
                <td>{{patient.email}}</td>
                <td>{{patient.phone}}</td>
                <td>{{patient.gender}}</td>
                <td>{{patient.dateOfBirth|slice:0:10}}</td>

                
               
            </tr>
        </ng-template>

    </p-table>
    <!-- <div class="row">
        <div class="col-md-12">
            <div>
                <table class="table table-dark table-hover">
                    <thead>
                        <tr class="text-center">
                            <th>ID</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Gender</th>
                        <th>Date Of Birth</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let patient of allPatients" class="text-center">
                            <td>{{patient.id}}</td>
                            <td>{{patient.fullName}}</td>
                            <td>{{patient.email}}</td>
                            <td>{{patient.phone}}</td>
                            <td>{{patient.gender}}</td>
                            <td>{{patient.dateOfBirth|slice:0:10}}</td>
                        </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div> -->
</section>