<section class="bg-main text-white py-5">
    <div class="container">
        <h3 class="fw-bold">Get the Doctors App</h3>
    <p>We will send you a link, open it on your phone to download the app .</p>
        <div class="row">
            <div class="col-md-10">
                <div>
                    <input type="email" class="form-control" placeholder="Email ..">
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="ms-2">
                    <button class="btn">Share App Link</button>
                </div>
            </div>
            <hr>
           
            
        
        </div>
        <p class="text-center">© 2024 Mahmoud Ismail , All Rights Reserved</p>
    </div>
    
</section>