section{
    background-color: #E2E6EA;
    min-height: 90vh;
    padding: 0px 50px;
}
.timeBook{
    cursor: pointer;
    transition: all .1s;
    &:hover{
        background-color: #0E46A3;
        color: white;
        border-radius: 10px;
        
    }
}
.times{
    height: 224px;
    overflow: hidden;
    transition: all .5s;
}
.options{
    position: absolute;
    bottom: 0px;
    background-color: white;
}

.filter{
    width: 200px;
    position: fixed;
    top: 25%;
    left: 90px;
    border: 1px solid rgba(0, 0, 0, .2);
    
}
.accordion-button:not(.collapsed){
    background-color: unset !important;
}