
.loginSec{
    min-height: 93vh;
    background: url("./../../../assets/background.png");
}

.spec{
    border-bottom: 1px solid rgba(179, 179, 179,.5);
    input{
    border: unset;
    box-shadow: unset !important; 
    }
}
