.timeBook{
    cursor: pointer;
    transition: all .1s;
    &:hover{
        background-color: #0E46A3;
        color: white;
        border-radius: 10px;
        
    }
}
.times{
    height: 224px;
    overflow: hidden;
    transition: all .5s;
}
.options{
    position: absolute;
    bottom: 0px;
    background-color: white;
}