<section>

    
        <div class="row g-0">
            <div class="col-md-12 position-relative">
                <div class="description position-absolute">
                    <p class="bestSpan">BEST MEDICAL TEMPLATE</p>
                    <h2 class="fa-4x text-white">Meet The <br> <span class="fw-bold text-danger-emphasis">Best Doctor</span></h2>
                    <div class="mt-5">
                        <button class="btn btn-main rounded-0 px-4  me-4 fw-bold rounded-pill">MAKE APPOINTMENT</button>
                        <button class="btn leanMore rounded-0 px-4  fw-bold rounded-pill">LEARN MORE</button>
                    </div>
                </div>
                    <div class="slider">
                        <owl-carousel-o [options]="mainSlider">
                            <ng-template carouselSlide><img src="./assets/bg_1.jpg" class="w-100"  alt=""></ng-template>  
                            <ng-template carouselSlide><img src="./assets/slider1.jpg" class="w-100" alt=""></ng-template>  
                            <ng-template carouselSlide><img src="./assets/slider2.png" class="w-100" alt=""></ng-template>  
                             
                          </owl-carousel-o>
                    </div>
            </div>
           
        </div>
   
    
  
  
</section>