<section class="my-5">
    <div class="container d-flex flex-column align-items-center">
        <div class="d-flex justify-content-center w-75">
            <div class="position-relative w-50 me-3">
                <input type="search" class="form-control mb-4 ps-4" placeholder="Search ..." [(ngModel)]="textSearch">
            <i class="fa-solid fa-magnifying-glass position-absolute text-muted"></i>
            </div>
            <div>
                <button class="btn btn-main">Search</button>
            </div>
        </div>
        <div class="row gy-4 w-100">
            <div class="col-md-3" *ngFor="let item of specialties|searchSpecialties:textSearch">
                <div class="special d-flex justify-content-center align-items-center shadow rounded-4" [routerLink]="['/doctorSpecialize',item.id]">
                    <h2 class="h5 fw-bold">{{item.name|slice:0:25}}</h2>
                </div>
            </div>
        </div>
    </div>
</section>