<nav class="navbar navbar-expand-lg bg-main px-4 py-3 fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand position-relative" routerLink='/home'>
        <i class="fa-solid fa-heart-pulse fa-2xl pe-3 text-white"></i>
        <span class="fw-bold text-white fa-2xl">Doc<span class="text-info tOfDoctor">T</span><span class="ps-4">or</span><span class="text-info">s</span></span>
            
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0 w-50 d-flex justify-content-center">
            <!-- <li class="nav-item pe-3 w-75 position-relative">
              <input type="search" class="form-control ps-4" placeholder="Search ...">
              <i class="fa-solid fa-magnifying-glass position-absolute text-muted"></i>
            </li> -->
            <li class="nav-item pe-2">
              <a class="nav-link text-white " role="button" routerLink="/home" routerLinkActive="active-link">Home</a>
            </li>

            <li class="nav-item pe-2">
              <a class="nav-link text-white" role="button" routerLink="/specialties" routerLinkActive="active-link">Specialties</a>
            </li>
            <li class="nav-item pe-2">
              <a class="nav-link text-white" role="button" routerLink="/doctors" routerLinkActive="active-link">Doctors</a>
            </li>
            <li class="nav-item pe-2">
              <a class="nav-link text-white" role="button">Coupons</a>
            </li>
            <li class="nav-item pe-2">
              <a class="nav-link text-white" role="button">About</a>
            </li>
            
            


            
          
          </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex align-items-center">
          <li class="nav-item me-4">
            <a class="nav-link px-3 rounded-5 border border-2 border-white text-white" role="button" [routerLink]="[roleOfUser=='Doctor'?'/doctorProfile':'/patientProfile',idOfUser]" routerLinkActive="active-link"><i [class]="roleOfUser=='Doctor'?'fa-solid fa-user-doctor fa-xl':'fa-solid fa-user fa-xl'"></i></a>
          </li>

         
          <li class="nav-item d-flex gap-3 icons">
            <a href="https://www.facebook.com/mahmoud.elksass.7/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.linkedin.com/in/mahmoud-ismail-370a76215/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/mahmoudismail2000" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="https://wa.me/+0201067764726" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>

          </li>
          <li class="nav-item ps-2" (click)="signOut()">
            <a class="nav-link text-white fa-xl" role="button" routerLink="/login">SignOut</a>
          </li>
          
        
        </ul>
        
      </div>
    </div>
</nav>

