<section class="my-5">
    <div class="container">
        <h1 class="h2 mb-3 text-center">Appointments</h1>
        <div class="row d-flex align-items-center">
            <div class="col-md-3" *ngFor="let day of doctorDays">
                <div>
                    <p-orderList 
                        [value]="day.times" 
                        [listStyle]="{ height: '20rem' }" 
                        [header]="day.day">
                             <ng-template let-Weekday pTemplate="item"> <!--weekDay is A variable have 1 object in array for loop -->
                                <div class="flex flex-wrap align-items-center gap-3" >
                                    <button class="btn btn-danger" (click)="deleteTime(Weekday.id)">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                            <span class="px-4">{{Weekday.time}}</span>
                                            
                                            <button class="btn btn-warning" (click)="updateTime(Weekday.id,Weekday.time)">
                                                <i class="fa-solid fa-pen"></i>
                                            </button>
                                </div>
                            </ng-template>
                    </p-orderList>
                </div>
            </div>
            <div class="col-md-3">
                
                <div class="py-5 rounded-4 bg-body-secondary">
                    <div class="w-100 d-flex flex-column justify-content-center align-items-center py-5" role="button" (click)="addAppointment()">
                        <img src="./../../../assets/add-file.png" class="w-25" height="90" alt="Add Appointment">
                        <span class="fw-bold">Add Appointment</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
